{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1><b>BMI index calculator</b></h1>
    <div class="container-full-bg">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="height">Height in cm</label>
                <input type="text" name="height" class="form-control" placeholder="Enter height" required />
            </div>
            <div class="form-group">
                <label for="mass">Weight in kg</label>
                <input type="text" name="mass" class="form-control" placeholder="Enter weight" required />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    {% if bmi %}

    <div id="alert" class="alert alert-primary animate__bounceIn" role="alert">
        Your BMI is: {{ bmi }} which is considered {{ status }} </div>
</div>

{% endif %}
</div>
<div class="footer" id="footer">created with 
    <img src="https://img.icons8.com/ios-filled/50/000000/coffee.png" alt="coffee"/> by 
    <a href="https://www.linkedin.com/in/denisjovic/"> denisjovic</a>
</div>
</div>


{% endblock %}